MTR0r44.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="https://www.aisc.org/globalassets/aisc/steelxml/steelXML.xsl"?>
<!--<?xml-stylesheet type="text/xsl" href="steelXML.xsl"?>-->

<xs:schema targetNamespace="AISCProcurement" xmlns="AISCProcurement"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            <h1>MaterialTestingReport sub schema version 0r44</h1>
            <br/>
            <br/>
            <br/>
            <h1>Revision History </h1>
            <h2>version 0r44</h2>
            <ul>
                <li>Updated Baseline Schema version and URL</li>
            </ul>
            <h2>version 0r41</h2>
            <ul>
                <li>First Release</li>
            </ul>
        </xs:documentation>
    </xs:annotation>


    <!--<xs:include schemaLocation="https://www.aisc.org/globalassets/aisc/steelxml/Baseline0r44.xsd"/>-->
  <xs:include schemaLocation="Baseline0r44.xsd"/>


    <xs:element name="MaterialTestingReport" type="tBL"/>

    <xs:complexType name="tBL">
        <xs:complexContent>
            <xs:restriction base="tProcurement">
                <xs:sequence>
                    <xs:element name="Header" type="etHeader" minOccurs="1"/>
                    <xs:element name="Body" type="etBody" minOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etHeader">
        <xs:complexContent>
            <xs:restriction base="tHeader">
                <xs:sequence>
                    <xs:element minOccurs="1" name="BillOfLadingReference" type="xs:string"/>
                    <xs:element minOccurs="1" name="TransactionDateTime" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="TransactionStatus" type="xs:string"/>
                    <xs:element name="SourceApplicationName" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="SourceApplicationVersion" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="Supplier" type="etSupplier" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="SoldTo" type="etCustomer" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ShipTo" type="etCustomerGeneral" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="BillTo" type="tCustomerGeneral" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Producer" type="etProducerAddresses" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="Carrier" type="etCarrier" minOccurs="1" maxOccurs="1"/>
                    <xs:element minOccurs="0" name="ShipmentDateTimeComplex"
                        type="etDateTimeComplex"/>
                    <xs:element minOccurs="1" name="ShipmentWeight" type="tWeight"/>
                    <xs:element minOccurs="0" name="OrderDueDate" type="xs:dateTime"/>
                    <xs:element name="ExpectedDeliveryDate" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="Comment" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etSupplier">
        <xs:complexContent>
            <xs:restriction base="tSupplier">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="SupplierDUNS" type="tNineDigitNumber" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="Address" type="etAddress" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Contact" type="etContact" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="InventoryLocation" type="tAddress" minOccurs="0" maxOccurs="1"
                    />
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etAddress">
        <xs:complexContent>
            <xs:restriction base="tAddress">
                <xs:sequence>
                    <xs:element name="AddressLine" type="xs:string" maxOccurs="5"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="PostalCode" type="xs:string"/>
                    <xs:element ref="Country"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etContact">
        <xs:complexContent>
            <xs:restriction base="tContact">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Department" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Telephone" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Fax" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etCustomer">
        <xs:complexContent>
            <xs:restriction base="tCustomer">
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="Name" type="xs:string" minOccurs="1"/>
                        <xs:element name="CustomerID" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> Customer ID is used to identify customers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="SupplierDUNS" type="tNineDigitNumber" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> This nine digit DUNS number (for Data Universal
                                    Numbering System) is a unique identifier for suppliers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" type="tAddress" minOccurs="0"/>
                        <xs:element name="Contact" type="etContact" minOccurs="0"/>
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="CustomerID" type="xs:string" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation> Customer ID is used to identify customers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="SupplierDUNS" type="tNineDigitNumber" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation> This nine digit DUNS number (for Data Universal
                                    Numbering System) is a unique identifier for suppliers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" type="tAddress" minOccurs="0"/>
                        <xs:element name="Contact" type="etContact" minOccurs="0"/>
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="SupplierDUNS" type="tNineDigitNumber" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation> This nine digit DUNS number (for Data Universal
                                    Numbering System) is a unique identifier for suppliers.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" type="tAddress" minOccurs="0"/>
                        <xs:element name="Contact" type="etContact" minOccurs="0"/>
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="Address" type="tAddress" minOccurs="1"/>
                        <xs:element name="Contact" type="etContact" minOccurs="1"/>
                    </xs:sequence>
                </xs:choice>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>



    <xs:complexType name="etDateTimeComplex">
        <xs:complexContent>
            <xs:restriction base="tDateTimeComplex">
                <xs:sequence>
                    <xs:element name="Date" type="xs:date" minOccurs="1"/>
                    <xs:element name="Time" type="xs:time" minOccurs="0"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etCustomerGeneral">
        <xs:complexContent>
            <xs:restriction base="tCustomerGeneral">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="CustomerID" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element minOccurs="0" name="SupplierDUNS" type="tNineDigitNumber"/>
                    <xs:element name="Address" type="tAddress" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Contact" type="etContact" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etProducerAddresses">
        <xs:complexContent>
            <xs:restriction base="tProducerAddresses">
                <xs:sequence>
                    <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element minOccurs="1" name="SalesOffice" type="etAddressContact"/>
                    <xs:element minOccurs="0" name="MeltShop" type="tAddress"/>
                    <xs:element minOccurs="0" name="RollingMill" type="tAddress"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etAddressContact">
        <xs:complexContent>
            <xs:restriction base="tAddressContact">
                <xs:sequence>
                    <xs:element name="Address" type="tAddress"/>
                    <xs:element name="Contact" type="etContact"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etCarrier">
        <xs:complexContent>
            <xs:restriction base="tCarrier">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Name" type="xs:string"/>
                    <xs:element minOccurs="1" name="CarrierID" type="tCarrierID"/>
                    <xs:element minOccurs="0" name="Address" type="tAddress"/>
                    <xs:element minOccurs="0" name="Contact" type="etContact"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>



    <xs:complexType name="etOrderInformation">
        <xs:complexContent>
            <xs:restriction base="tOrderInformation">
                <xs:sequence>
                    <xs:element name="TransactionAndOrder" type="etTransactionAndOrder"
                        minOccurs="1" maxOccurs="1"/>
                    <xs:element name="MaterialOrderIdentification"
                        type="etMaterialOrderIdentification" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etTransactionAndOrder">
        <xs:complexContent>
            <xs:restriction base="tTransactionAndOrder">
                <xs:sequence>
                    <!--<xs:element name="OrderSize" type="tOrderSize" minOccurs="1" maxOccurs="1"/>-->
                    <xs:element name="SupplierOrderNumber" type="xs:string" minOccurs="1"
                        maxOccurs="unbounded"/>
                    <xs:element name="OrderType" type="tOrderType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etMaterialOrderIdentification">
        <xs:complexContent>
            <xs:restriction base="tMaterialOrderIdentification">
                <xs:sequence>
                    <xs:element name="Customers" type="etMaterialCustomer" minOccurs="0"
                        maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etMaterialCustomer">
        <xs:complexContent>
            <xs:restriction base="tMaterialCustomer">
                <xs:sequence>
                    <xs:element name="OpportunityIdentifier" type="xs:token" minOccurs="0"
                        maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etMaterial">
        <xs:complexContent>
            <xs:restriction base="tMaterial">
                <xs:sequence>
                    <xs:element name="PreliminaryPieceMarks" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="FinalPieceMarks" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="ReceivingLocation" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>
                    <xs:element name="BundleOrPieceTagNumber" type="xs:string" minOccurs="0"
                        maxOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>



    <!-- BODY -->
    <!-- BODY -->
    <!-- BODY -->

    <xs:complexType name="etBody">
        <xs:complexContent>
            <xs:restriction base="tBody">
                <xs:sequence>
                    <xs:element maxOccurs="1" name="Orders" type="etOrders"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etOrders">
        <xs:complexContent>
            <xs:restriction base="tOrders">
                <xs:sequence>
                    <xs:element maxOccurs="1" name="Order" type="etOrder"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etOrder">
        <xs:complexContent>
            <xs:restriction base="tOrder">
                <xs:sequence>
                    <xs:element minOccurs="1" name="OrderInformation" type="etOrderInformation"/>
                    <xs:element maxOccurs="unbounded" name="Item" type="etItem"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etItem">
        <xs:complexContent>
            <xs:restriction base="tItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ItemURN" type="tItemURN"/>
                    <xs:element name="GUIDs" type="tGuids" minOccurs="0" maxOccurs="1"/>
                    <xs:element minOccurs="1" name="CustomerPurchaseOrder" type="xs:string"/>
                    <xs:element minOccurs="0" name="CustomerPurchaseOrderLine" type="xs:string"/>
                    <xs:element minOccurs="1" name="Qty" type="tOrderUnit"/>
                    <xs:element minOccurs="0" name="CustomerProductCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="Length" type="tLength" maxOccurs="1"/>
                    <xs:element minOccurs="0" name="Width" type="tLength"/>
                    <xs:element minOccurs="0" name="Weight" type="tWeightWithQualifier"/>
                    <xs:element minOccurs="0" name="Thickness" type="tLength"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="Materials" type="etMaterial"/>
                    <xs:element name="Projects" type="tMaterialProject" minOccurs="0" maxOccurs="1"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="Sequence" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalFile"
                        type="xs:anyURI"/>
                    <xs:element name="Shape" type="xs:token" minOccurs="1"/>
                    <xs:element name="Size" type="xs:token" minOccurs="1"/>
                    <xs:element name="Grade" type="tGrade" minOccurs="1"/>
                    <xs:element minOccurs="0" name="Notes" type="xs:string"/>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Heat"
                        type="etGeneralInformation"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <!--  <xs:complexType name="etMaterialPrice">
    <xs:complexContent>
      <xs:restriction base="tMaterialPrice">
        <xs:sequence>
          <xs:element name="BasePrice" type="tBasePriceUnit" minOccurs="1" maxOccurs="1"/>
          <xs:element name="SurchargePrice" type="tSurchargePrice" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Extras" type="tExtras" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Terms" type="tTerms" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->

    <!--  <xs:complexType name="etFreightPrice">
    <xs:complexContent>
      <xs:restriction base="tFreightPrice">
        <xs:sequence>
          <xs:element name="BaseFreightPrice" type="tFreightBasePrice" minOccurs="1" maxOccurs="1"/>
          <xs:element name="SurchargePrice" type="tFreightBasePrice" minOccurs="0" maxOccurs="1"/>
          <xs:element name="SupplimentaryFreightPrice" type="tSupplimentaryFreightPrice"
            minOccurs="0" maxOccurs="1"/>
          <xs:element name="FOBPoint" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="Method" type="tMethod" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>-->

    <xs:complexType name="etGeneralInformation">
        <xs:complexContent>
            <xs:restriction base="tGeneralInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="DateProduced" type="xs:date"/>
                    <xs:element minOccurs="1" name="HeatID" type="xs:string"/>
                    <xs:element minOccurs="0" name="HeatIDIdentifier" type="etHeatID"/>
                    <xs:element name="Qty" type="xs:integer"/>
                    <xs:element name="Producer" type="tProducer"/>
                    <xs:element minOccurs="0" name="SupplierComments" type="tSupplierComments"/>
                    <xs:element minOccurs="0" name="Equivalentgrades" type="xs:token"/>
                    <xs:element minOccurs="0" name="TestReportReference"
                        type="etTestReportReference"/>
                    <xs:element minOccurs="1" name="TestResults" type="etProperties"/>
                    <xs:element minOccurs="0" name="TestMemo" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etHeatID">
        <xs:complexContent>
            <xs:restriction base="tHeatID">
                <xs:sequence>
                    <xs:element minOccurs="1" name="LotorReheatNo" type="xs:string"/>
                    <xs:element minOccurs="1" name="SlabID" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etTestReportReference">
        <xs:complexContent>
            <xs:restriction base="tTestReportReference">
                <xs:sequence>
                    <xs:element name="ReferenceNumber" type="xs:string"/>
                    <xs:element name="Attachment" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>



    <xs:complexType name="etProperties">
        <xs:complexContent>
            <xs:restriction base="tProperties">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ChemicalProperties" type="etChemicalProperties"/>
                    <xs:element minOccurs="1" name="MechanicalProperties"
                        type="etMechanicalProperties"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etChemicalProperties">
        <xs:complexContent>
            <xs:restriction base="tChemicalProperties">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Elements" type="etElements"/>
                    <xs:element minOccurs="1" name="CalculatedValues" type="etCalculatedValues"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etCalculatedValues">
        <xs:complexContent>
            <xs:restriction base="tCalculatedValues">
                <xs:sequence>
                    <xs:element name="CalculatedValue" type="etCalculatedValue" minOccurs="1"
                        maxOccurs="unbounded"> </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>

    </xs:complexType>
    <xs:complexType name="etCalculatedValue">
        <xs:complexContent>
            <xs:restriction base="tCalculatedValue">
                <xs:sequence>
                    <xs:element name="FormulaName" type="xs:string" minOccurs="1"/>
                    <xs:element name="FormulaCode" type="xs:string" minOccurs="1"/>
                    <xs:element name="FormulaExpression" type="xs:string" minOccurs="1"/>
                    <xs:element name="MeasuredValue" type="xs:decimal" minOccurs="1"/>
                    <xs:element name="AnalysisType" type="tAnalysisType" minOccurs="1"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>




    <xs:complexType name="etElements">
        <xs:complexContent>
            <xs:restriction base="tElements">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Element" type="etElement"
                    />
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etElement">
        <xs:complexContent>
            <xs:restriction base="tElement">
                <xs:sequence>
                    <xs:element minOccurs="1" name="ElementCode" type="tElementCode"/>
                    <xs:element minOccurs="1" name="MeasuredValue" type="tPercent" maxOccurs="1"/>
                    <xs:element minOccurs="1" name="AnalysisType" type="tAnalysisType"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etMechanicalProperties">
        <xs:complexContent>
            <xs:restriction base="tMechanicalProperties">
                <xs:sequence>
                    <xs:element minOccurs="1" name="TensileTests" type="etTensileTests"/>
                    <xs:element minOccurs="1" name="CharpyV-notchTests" type="etCharpyV-notchTests"
                    />
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etTensileTests">
        <xs:complexContent>
            <xs:restriction base="tTensileTests">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="TensileTest"
                        type="etTensileTest"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>




    <xs:complexType name="etTensileTest">
        <xs:complexContent>
            <xs:restriction base="tTensileTest">
                <xs:sequence>
                    <xs:element minOccurs="1" name="TestingStandard" type="tTestingStandard"/>
                    <xs:element minOccurs="1" name="TestingConditions" type="etTestingConditions"/>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="TestResult"
                        type="etTensileTestResult"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>




    <xs:complexType name="etTestingConditions">
        <xs:complexContent>
            <xs:restriction base="tTestingConditions">
                <xs:sequence>
                    <xs:element minOccurs="1" name="SpecimenLocation" type="xs:string"/>
                    <xs:element minOccurs="1" name="SpecimenType" type="xs:string"/>
                    <xs:element minOccurs="1" name="SampleGageLength" type="tLength"/>
                    <xs:element minOccurs="1" name="YieldDetermination" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etTensileTestResult">
        <xs:complexContent>
            <xs:restriction base="tTensileTestResult">
                <xs:sequence>
                    <xs:element minOccurs="1" name="YieldStrength" type="tStress"/>
                    <xs:element minOccurs="1" name="UTS-Value" type="tStress"/>
                    <xs:element minOccurs="1" name="Elongation" type="tPercent"/>
                    <xs:element minOccurs="1" name="ReductionOfArea" type="tPercent"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etCharpyV-notchTests">
        <xs:complexContent>
            <xs:restriction base="tCharpyV-notchTests">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="CharpyV-notchTest"
                        type="etCharpyV-notchTest"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etCharpyV-notchTest">
        <xs:complexContent>
            <xs:restriction base="tCharpyV-notchTest">
                <xs:sequence>
                    <xs:element minOccurs="1" name="TestingStandard" type="tTestingStandard"/>
                    <xs:element minOccurs="1" name="TestingRegime" type="tTestingRegime"/>
                    <xs:element minOccurs="1" name="Specimens" type="etSpecimens"/>
                    <xs:element minOccurs="1" name="AveragedResults" type="etAveragedResults"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etSpecimens">
        <xs:complexContent>
            <xs:restriction base="tSpecimens">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="Specimen"
                        type="etSpecimen"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etSpecimen">
        <xs:complexContent>
            <xs:restriction base="tSpecimen">
                <xs:sequence>
                    <xs:element minOccurs="1" name="SpecimenConditions" type="etSpecimenConditions"/>
                    <xs:element minOccurs="1" maxOccurs="unbounded" name="TestResult"
                        type="etCharpyTestResult"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etSpecimenConditions">
        <xs:complexContent>
            <xs:restriction base="tSpecimenConditions">
                <xs:sequence>
                    <xs:element minOccurs="1" name="SpecimenLocation" type="xs:string"/>
                    <xs:element minOccurs="1" name="SpecimenSize" type="xs:string"/>
                    <xs:element minOccurs="1" name="SpecimenOrientation" type="xs:string"/>
                    <xs:element minOccurs="1" name="NotchShape" type="xs:string"/>
                    <xs:element minOccurs="1" name="TestTemperature" type="tTemperature"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="etCharpyTestResult">
        <xs:complexContent>
            <xs:restriction base="tCharpyTestResult">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Energy" type="tEnergy"/>
                    <xs:element minOccurs="1" name="UncorrectedEnergy" type="tEnergy"/>
                    <xs:element minOccurs="1" name="Shear" type="tPercent"/>
                    <xs:element minOccurs="1" name="LateralExpansion" type="tLengthPercent"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="etAveragedResults">
        <xs:complexContent>
            <xs:restriction base="tAveragedResults">
                <xs:sequence>
                    <xs:element minOccurs="1" name="TestResult" type="etCharpyTestResult"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>


</xs:schema>
